<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>898440090386-4v3h54kuf9fepj6eo9h0rcf063lr60mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898440090386-4v3h54kuf9fepj6eo9h0rcf063lr60mu</string>
	<key>API_KEY</key>
	<string>AIzaSyDrKpQud-_Us7zVbKsS022LBsDT3ciwvnc</string>
	<key>GCM_SENDER_ID</key>
	<string>898440090386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skyblue.Evento</string>
	<key>PROJECT_ID</key>
	<string>evento-d2e4b</string>
	<key>STORAGE_BUCKET</key>
	<string>evento-d2e4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898440090386:ios:5919ab050d7007cc</string>
	<key>DATABASE_URL</key>
	<string>https://evento-d2e4b.firebaseio.com</string>
</dict>
</plist>